body {
    background-color: blanchedalmond; /* Cor do fundo */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da tela */
    margin: 0; /* Remove margens padrão */
}

.canvas {
    border: 1px solid #000; /* Borda opaca para o canvas */
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}

.kanvas{
    background-color: aquamarine;
}


