body {
    background-color: #f0f0f0; /* Cor do fundo */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da tela */
    margin: 0; /* Remove margens padrão */
}

canvas {
    border: 1px solid #000; /* Borda opaca para o canvas */
}

