body{background-color: lightgrey;}


/*border*/
.border{border: solid 70px bisque;}
.background{background-color: bisque;}
.border1{border: solid 5px darkblue ;}
.color1{color: darkgreen;}
.tamanho{width: 180px ;
height: 180px;}
.java{display:inline;
position:absolute;
right: 10px;
left:  1720px;
top: 50px}
.cema{display: inline;
position: relative;
top: -35px;}
.center{text-align: center;}
.self{
    display: flex;
    align-self: center;
}
.flexbox{
    display: flex;
    justify-content: space-between;
}



/*border 2*/
.border2{border: solid 20px lightskyblue;}
.background2{background-color: lightskyblue;}
.ah{margin-left: 320px;
color: darkred;
text-decoration: none;}

/*pe*/
.pe{font-size: 20pt;
font-family: sans-serif;
color: indigo;
text-align: center;}

/*books*/
.tamanho2{width: 280px; height: 420px;}
.container{
    display: flex;
    justify-content: space-evenly;
}



/*iframes*/



/*contatos*/
.contato{margin: auto;}
.color2{color: red;}
.border3{border: dashed 5px red;}
.tamanho3{width: 400px;
height: 150px;}

/*consulta*/
.marcor{position: relative;
margin: 80px;
color: darkred;
text-decoration: none;
font-weight: bold;}
.border4{border: solid 25px yellow;}
.background3{background-color: yellow;}
.size{width: 500px; height: 50px;}
.central{margin-left: auto;
margin-right: auto;}
.up{position: relative;
bottom: 41px;
font-size: 12pt;
right: 23px;}

/*footer*/
.border5{border: solid 30px bisque;}
.background4{background-color: bisque;} 
.font{font-size: 15pt;
font-family: 'Comic Sans MS';}
.tamanho4{width: 10 0px;
height: 100px;}
.css{display: inline;
position: absolute;
right: 40px;   
left: 1810px;
top: 2525px;}
.html{display: inline;
position: relative;
bottom: 75px;
left: -30px;}