<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Cadastrado</title>
    <link rel="stylesheet" href="/post/post.css">
</head>
<body>
    <div class="container">
        <h1>Post Cadastrado com Sucesso!</h1>
        <p>Seu post foi registrado no sistema.</p>
        <a href="/blog">Home</a>
    </div>
</body>
</html>