<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>Catálogo</h1>
    <a href="/public/carros/manager.html">Gerenciar carros</a>
  
    <% posts.forEach(post => { %>
      <div class="post">
        <h2><%= post.titulo %></h2>
        <p><strong>Resumo:</strong> <%= post.resumo %></p>
        <p><%= post.conteudo %></p>
      </div>
    <% }) %>
</body>
</html>