<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de For</title>
    <link rel="stylesheet" href="styless.css">
</head>
<body>
    <h1>Exemplo de FOR</h1>

    <% for (var i =1; i <= valor;  i++ ) { %>
        <div>
            <%= i %>
        </div>
     <% } %>
     
</body>
</html>