<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta</title>
    <link rel="stylesheet" href="styless.css">
</head>
<body>
    <h1>Resposta</h1>
    <p>Nome: <%= nome %></p>
    <p>Login: <%= login %></p>
    <p>Senha: <%= senha %></p>
    <p>Data de Nascimento: <%= nasc %></p>
</body>
</html>