<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastre-se</title>
  <link rel="stylesheet" href="cadastro_login/cadastro.css">
</head>
<body>
  <div class="container">
    <h1><%= mensagem %></h1>
    <br>
    <a href="/logar">Ir para login.</a>
  </div>
</body>
</html>